.detail{
    text-align: center;
    justify-content: center;
    border: 4px solid green;
    background-color: antiquewhite;
    background-position: center;
    width: 500px;
    align-items: center;
    align-self: center;
    align-content: center;
    height: content;
    border-radius: 15px;
    margin-left: 400px;
    margin-top: 10px;
}