body {
    background-image: url(http://www.mundodeportivo.com/alfabeta/hero/2023/05/algunos-de-los-pokemon-mas-extranos-que-ha-habido-en-la-historia-de-los-videojuegos.1682875611.3106.jpg?width=1200&aspect_ratio=16:9);
    background-size: auto;
}

.navLink{
    color: aliceblue;
    text-align: center;
}